@using BugCatcher.BusinessLayer.Managers

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="AddSubsModal" tabindex="-1" role="dialog" aria-labelledby="Add Subs" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddSubsModalLabel">Add Subs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Subscribers:</label>
                    <div class="col-sm-10" id="divItemSubs">
                        @await Component.InvokeAsync("ItemSubs", TempData["ItemId"].ToString())
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">User: </label>
                    <div class="col-sm-10">
                        <select id="userModalSelect" asp-items="@(new EfUserRepository().GetSelectListItems("Choose A User"))" class="custom-select"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCloseSubModel" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" id="btnSaveSub" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
